.app-main-container {
  height: 100vh;
  max-width: 400px;
  padding: 25px;
}
.dark-bg {
  background-color: #333333;
  color: white;
}
.light-bg {
  background-color: #00abee;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-logo {
  width: 50px;
}
.website-name {
  font-size: 14px;
  width: 50px;
  text-align: center;
  font-family: "EB Garamond", serif;
  margin-top: 0;
}

.theme-button {
  margin-top: 0;
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 10%;
}

.dark {
  background-color: #dddddd;
}

.light {
  background-color: #333333;
}
